.header {
    border-width: 0;
    background-color: #1aa1e1;
    color: #ffffff;
    font-family: arial,sans-serif;
    top: 0;
    position: absolute;
    width: 100%;
    height: 50px;
}

.sample-app {
    margin-top: 15px;
    margin-left: 15px;
    font-weight: bold;
}